<ion-view view-title="Receipt server details">
  <ion-content class="padding">
    <button class="button ion-android-delete" ng-click="removeReceipt(receipt.data._id)">&nbsp;&nbsp;&nbsp;Delete this
      receipt
    </button>


    <form style="" class="list">
      <ion-list style="">

        <div
          style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center;">
          <img ng-src="{{receipt.data.att}}" style="width: 200px; height: 200px"></div>

        <label style="" class="item item-input">
          <span class="input-label">Company</span>
          <textarea placeholder="" type="text" rows="5"
                    ng-model="receipt.data.companyName">{{receipt.data.companyName}}</textarea>
        </label>
        <label style="" class="item item-input">
          <span class="input-label">NIP</span>
          <input placeholder="" type="text" ng-model="receipt.data.nip">
        </label>


        <label style="" class="item item-input">
          <span class="input-label">Created</span>
          <input placeholder="" type="text" ng-model="receipt.data.dateCreation">
        </label>
        <label style="" class="item item-input">
          <span class="input-label">Last modified</span>
          <input placeholder="" type="text" ng-model="receipt.data.dateLastModification">
        </label>


        <label style="" class="item item-input">
          <span class="input-label">Date</span>
          <input placeholder="" type="text" ng-model="receipt.data.dateReceipt">
        </label>
        <label style="" class="item item-input">
          <span class="input-label">Total</span>
          <input placeholder="" type="number" ng-model="receipt.data.price">
        </label>
        <label style="" class="item item-input">
          <span class="input-label">Description</span>
          <textarea placeholder="" type="text" rows="5"
                    ng-model="receipt.data.textReceipt">{{receipt.textReceipt}}</textarea>
        </label>
      </ion-list>
      <button class="button button-energized  button-block" style="border-radius:-1px -1px -1px -1px;"
              id="updateReceipt-button" ng-click="updateReceipt(receipt.data)">Update
      </button>
    </form>

  </ion-content>
</ion-view>
