<ion-view style="" title="MadReceipts">
  <ion-content class="has-header" overflow-scroll="true" padding="true">
    <div class="logo">
      <!--<i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>-->
      <img src="img/icon.png" alt="test" height="250" width="250">
    </div>
    <button class="button button-energized  button-block" id="useOffline-button" ng-click="goTo('tab.newReceipt')">Start</button>
    <button class="button button-energized  button-block" id="sigIn-button" ng-click="goTo('signin')">Sign in</button>

    <!-- <form method="post" action="http://localhost:5000/api/facebook/login" >
       <input type="hidden" name='redirectTo' id='redirectTo' type='text' value='http://localhost:8114/#/start-page'>
       &lt;!&ndash;<input type="hidden" name='redirectTo' id='redirectTo' type='text' value='{{redirectPage}}'>&ndash;&gt;
       <input type="submit" name="send" value="Login with Facebook">
     </form>-->
    <button class="button button-dark  button-block icon ion-android-contact" id="createAccount-button" ng-click="goTo('createAccount')">Create new account</button>
  </ion-content>
</ion-view>
