<ion-view view-title="Server - Receipts List" ng-init="getReceiptsFromServer()">

<ion-nav-buttons side="right">
  <button class="button icon ion-log-out" ng-click="signInOut()">
    Log in / out
  </button>
</ion-nav-buttons>
<ion-content>

  {{connectionMessage}}


  <h3>Receipts no: {{receiptsNo}}</h3>
  <h2>{{errorMessage}}</h2>
  <ion-list>
    <ion-item auto-list-divider auto-list-divider-value="{{receipt.category}}"
              class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="receipt in receipts"
              type="item-text-wrap" href="#/tab/sreceipts/{{receipt.data._id}}">

      <img ng-src="{{getBase64Image(receipt.data.att)}}">
      <h2>Company: {{receipt.data.companyName}}</h2>

      <p><b>Date:</b> {{receipt.data.dateReceipt}}</p>
      <p><b>Total:</b> {{receipt.data.price}}</p>
      <i class="icon ion-chevron-right icon-accessory"></i>
      <!--<button class="button ion-android-delete" ng-click="removeReceipt(receipt.data._id)"></button>-->
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>
